/*
Aufgabe: 2 (neu)
Name: Ruhl, Nelli
Matrikel: 259408
Datum: 28.10.2018
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/
@charset "ISO-8859-1";

body{
	background: rgb(70, 70, 70);
	padding: 20px;
	width: 90%;
}

#ablage{
	background: rgb(120, 120, 120);
	width:130px;
	height:180px;
	padding: 5px;
	border:solid thin black;
	position: absolute;
	right:30px;
	top:30px;
	font-size: 20px;
}

#deck{
	background: rgb(170, 170, 170);
	width:130px;
	height:180px;
	padding: 5px;
	border:solid thin black;
	font-size: 20px;
}

#displayhand{
	background: rgb(200, 200, 200);
	width: 95%;
	margin: 5px;
	padding: 7px;
	bottom: 10px;
	height: 235px;
	position: absolute;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	}

.red{
	background: rgb(200, 100, 100);
	width: 150px;
	height: 200px;
	padding: 6px;
	border: thin solid black;
	float: left;
	margin-right: 7px;
	font-size: 32px;
	}

.blue{
	background: rgb(100, 100, 200);
	width: 150px;
	height: 200px;
	padding: 6px;
	border: thin solid black;
	float: left;
	margin-right: 7px;
	font-size: 32px;
	}
	
.green{
	background: rgb(100, 200, 100);
	width: 150px;
	height: 200px;
	padding: 6px;
	border: thin solid black;
	float: left;
	margin-right: 7px;
	font-size: 32px;
	}	
	
.yellow{
	background: rgb(200, 200, 100);
	width: 150px;
	height: 200px;
	padding: 6px;
	border: thin solid black;
	float: left;
	margin-right: 7px;
	font-size: 32px;
	}

.black{
	background: rgb(0, 0, 0);
	width: 150px;
	height: 200px;
	padding: 6px;
	border: thin solid black;
	float: left;
	color:white;
	margin-right: 7px;
	font-size: 32px;
	}